# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app

*.layout
*.exe

Eugenio/
readme/clientes.JPG
readme/detalle.JPG
readme/menventas.JPG
readme/menu.JPG
readme/facturas.png
readme/Factura.JPG
readme/factura B.JPG
*.psd
readme/factura A.JPG
